In [1]:
import snowflake.connector
import pandas as pd
from sklearn.linear_model import LinearRegression
import joblib

In [2]:

# Set up Snowflake connection
conn = snowflake.connector.connect(
        user='FYP',
        password='$Tarwars123',
        account='ND64012.ap-south-1.aws',
        warehouse='COMPUTE_WH',
        database='COAPDATA',
        schema='PUBLIC'
    )

In [3]:
data = pd.read_sql('SELECT * FROM water_consumption', conn)

In [4]:
data.head()

         DATE  WATER_CONSUMPTION
0  2023-03-10                 11
1  2023-03-06                 12
2  2023-03-07                 14
3  2023-03-08                 24
4  2023-03-09                 15